.topbar {
      position: absolute;
      z-index: 1;
      background-color: rgba(51,51,51,0.5);
      width: 100%;
}
h1 {
      font-weight: bolder;
      padding-top: 20px;
}

agm-map {
  height: 700px;
}

p {
      color: black;
      width: 200px;
}

.title {
      color: black;
}

.inline {
      display: inline-block;
      padding: 10px;
      height: 100px;
      overflow-y: hidden;
}

.info {
      background-color: blue;
      width: 150px;
}
