<div class="container">
      <h5>
            Распределение сообщений в зависимости от времени
      </h5>
      <svg width = "1040" height = "140">
            <ng-container *ngFor="let score of scores">
                  <rect (click)="onSelect(score)"
                  [attr.x]="getX(score.day, score.month)"
                  [attr.y]="getY(score.day)"
                  width = "15" height = "15"
                  [attr.fill]="getColor(score.score)">
                  </rect>
            </ng-container>
      </svg>
      <div>
            <small>Янв</small>
            <small>Фев</small>
            <small>Мар</small>
            <small>Апр</small>
            <small>Май</small>
            <small>Июнь</small>
            <small>Июль</small>
            <small>Авг</small>
            <small>Сен</small>
            <small>Окт</small>
            <small>Ноя</small>
            <small>Дек</small>
      </div>
</div>
