.main {
      background-image: url("assets/MAP7.png");
      background-size: cover;
      background-repeat:   no-repeat;
      background-position: center center;
      height: 1000px;
}

h1 {
}

h4 {
}

.container {
      padding-top: 50px;
}
